{% extends "layout.html" %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.type != 'CSRFTokenField' %}
    <p>
        {{ field.label }}<br>
        {{ field() }}
        {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </p>
    {% endif %}
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock content %}
